# Ignore database/data folders
data/
pg_data/
postgres/
*.db

# Ignore env files and Python cache
.env
__pycache__/
*.pyc
*.pyo

# Ignore Docker system files
.git
.gitignore
.DS_Store

# Kafka Connect plugins
connect-plugins/
